@{
    ViewData["Title"] = "Home Page";
}

 @*bg-info*@

<div class="text-center alert text-white" style="background-color: #4169E1; ">
    <h1 class="display-4">Welcome!</h1>
    <h3>To Restaurant Order Management System</h3>
</div>

<hr />
<br />

<div style="font-size:larger;">
    <p>
        This is a small restaurant order management system to manage orders of a restaurant.
        This is a small restaurant order management system to manage orders of a restaurant.
        This is a small restaurant order management system to manage orders of a restaurant.
        This is a small restaurant order management system to manage orders of a restaurant.
        This is a small restaurant order management system to manage orders of a restaurant.
    </p>
    <br />
    <p>
        This is a small restaurant order management system to manage orders of a restaurant.
        This is a small restaurant order management system to manage orders of a restaurant.
        This is a small restaurant order management system to manage orders of a restaurant.
        This is a small restaurant order management system to manage orders of a restaurant.
        This is a small restaurant order management system to manage orders of a restaurant.
        This is a small restaurant order management system to manage orders of a restaurant.
        This is a small restaurant order management system to manage orders of a restaurant.
        This is a small restaurant order management system to manage orders of a restaurant.
    </p>
</div>
