@{
    ViewData["Title"] = "Home Page";
}

 @*bg-info*@

<div class="text-center alert text-white" style="background-color: #4169E1; ">
    <h1 class="display-4">Welcome!</h1>
    <h3>To Restaurant Order Management System</h3>
</div>

<hr />
<br />

<div style="font-size:larger;">
    <p>
        This is a small <b>Restaurant Order Management</b> system to manage orders of a restaurant.
        It has mainly three parts <u>Member Entry</u>, <u>Food Order</u> and finally see the order details from <u>Report</u> module.
    </p>
    <br />
    <p>
        <b>1. Member Entry:</b><br />
        User will insert member here and view details. Then user can update and delete a member.
    </p>
    <p>
        <b>2. Food Order:</b><br />
        User will save an order of food of a member by selecting member code from dropdown. Here the price of an item will be shown by selecting food. Then input quantity, date and save data.
    </p>
    <p>
        <b>3. Report:</b><br />
        This is a report module to see order details. Select member code & date then click show button. You can see the ordered items and the total amount.
    </p>
    <p><b>Finally,</b> Food and Category module is similar to Member Entry module.</p>
</div>
