@model ROM.Models.Category
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div>
                <input type="submit" value="Update" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to list</a>
</div>