
@{
    ViewData["Title"] = "Index";
}

<h1 class="alert alert-info">Category Information</h1>

@*<p class="text-info"><b>Work in progress...</b></p>*@

<p><a asp-action="Save">Add New Category</a></p>

