@model ROM.Models.Category
@{
    ViewData["Title"] = "Save";
}

<h2 class="alert alert-primary">Add new category here</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Save">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success form-control" />
                    </div>
                </div>
                <div class="col-md-5">
                    <a asp-action="Index" class="btn btn-info form-control">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

